<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Trigger GitHub Sync and Workflow -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainAppActivity"
            android:exported="true"
            android:theme="@style/Theme.MyApplication" />

        <!-- 1. Default Calculator Alias -->
        <activity-alias
            android:name=".LauncherDefault"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/app_name"
            android:targetActivity=".MainAppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 2. Classic Calculator Alias -->
        <activity-alias
            android:name=".LauncherCalcClassic"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_calc_classic"
            android:roundIcon="@mipmap/ic_launcher_calc_classic"
            android:label="Classic Calc"
            android:targetActivity=".MainAppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 3. Retro Calculator Alias -->
        <activity-alias
            android:name=".LauncherCalcRetro"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_calc_retro"
            android:roundIcon="@mipmap/ic_launcher_calc_retro"
            android:label="Retro Calc"
            android:targetActivity=".MainAppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 4. Neon Calculator Alias -->
        <activity-alias
            android:name=".LauncherCalcNeon"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_calc_neon"
            android:roundIcon="@mipmap/ic_launcher_calc_neon"
            android:label="Neon Calc"
            android:targetActivity=".MainAppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 5. Notes Disguise Alias -->
        <activity-alias
            android:name=".LauncherNotes"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_notes"
            android:roundIcon="@mipmap/ic_launcher_notes"
            android:label="Notes"
            android:targetActivity=".MainAppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 6. Compass Disguise Alias -->
        <activity-alias
            android:name=".LauncherCompass"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_compass"
            android:roundIcon="@mipmap/ic_launcher_compass"
            android:label="Compass"
            android:targetActivity=".MainAppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 7. Voice Recorder Disguise Alias -->
        <activity-alias
            android:name=".LauncherVoice"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_voice"
            android:roundIcon="@mipmap/ic_launcher_voice"
            android:label="Recorder"
            android:targetActivity=".MainAppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 8. Sudoku Disguise Alias -->
        <activity-alias
            android:name=".LauncherSudoku"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_sudoku"
            android:roundIcon="@mipmap/ic_launcher_sudoku"
            android:label="Sudoku"
            android:targetActivity=".MainAppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- 9. Weather Disguise Alias -->
        <activity-alias
            android:name=".LauncherWeather"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_weather"
            android:roundIcon="@mipmap/ic_launcher_weather"
            android:label="Weather"
            android:targetActivity=".MainAppActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
            <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    
    </application>

</manifest>
